Repository FloppyNotFound/waves-vienna-timetable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

feat(spotify): add image and follower amount
  src/app/day/explore-container-details/explore-container-details.component.html
  src/app/day/explore-container-details/explore-container-details.component.scss
Due: prettier --write, stylelint

Feature/spotify data (#2)
  package.json
  src/app/day/explore-container-details/explore-container-details.component.html
  src/app/day/explore-container-details/explore-container-details.component.scss
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/day/services/models/spotify-artist-response.ts
  src/app/day/services/models/spotify-token.ts
  src/app/day/services/spotify-data.service.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

fix(spotify): error handling
  src/app/day/explore-container-details/explore-container-details.component.ts
Due: prettier --write, eslint --fix

refactor(spotify): cleanup
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/day/services/spotify-data.service.ts
Due: prettier --write, eslint --fix

feat(2024): update for current year
  angular.json
  package.json
  src/app/backend-models/show-days.ts
  src/app/backend-models/show.ts
  src/app/backend-models/shows-response.ts
  src/app/day/day.page.ts
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/day/explore-container/explore-container.component.html
  src/app/day/explore-container/explore-container.component.ts
  src/app/day/pipes/is-favorite.pipe.ts
  src/app/services/event-data.service.ts
  src/app/services/storage.service.ts
  yarn.lock
Due: prettier --write, eslint --fix

feat(2024): remove more info, since not available
  src/app/day/day.page.html
  src/app/day/explore-container-details/explore-container-details.component.html
  src/app/day/explore-container-details/explore-container-details.component.scss
  src/index.html
  src/manifest.webmanifest
Due: prettier --write, stylelint

feat(2024): update for current year (#3)
  angular.json
  package.json
  src/app/backend-models/show-days.ts
  src/app/backend-models/show.ts
  src/app/backend-models/shows-response.ts
  src/app/day/day.page.html
  src/app/day/day.page.ts
  src/app/day/explore-container-details/explore-container-details.component.html
  src/app/day/explore-container-details/explore-container-details.component.scss
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/day/explore-container/explore-container.component.html
  src/app/day/explore-container/explore-container.component.ts
  src/app/day/pipes/is-favorite.pipe.ts
  src/app/services/event-data.service.ts
  src/app/services/storage.service.ts
  src/index.html
  src/manifest.webmanifest
  yarn.lock
Due: prettier --write, eslint --fix, stylelint

fix(2024): types
  src/app/day/day.page.ts
  src/app/day/explore-container/explore-container.component.ts
Due: prettier --write, eslint --fix

Feature/2024 update (#4)
  src/app/day/day.page.ts
  src/app/day/explore-container/explore-container.component.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: any of: ./src/**/*.{ts,tsx,js,css,scss,json,html}
  eslint --fix: any of: ./src/**/*.{js,ts}
  stylelint: any of: ./src/**/*.{css,scss}
