Repository FloppyNotFound/waves-vienna-timetable: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint

.lintstagedrc:

{
    "./src/**/*.{ts,tsx,js,css,scss,json,html}": ["prettier --write"],
    "./src/**/*.{js,ts}": ["eslint --fix"],
    "./src/**/*.{css,scss}": ["stylelint"]
}

refactor: fix type errors
  src/app/day/day.page.ts
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/day/explore-container/explore-container.component.ts
  src/app/services/storage.service.ts
  tsconfig.json
Due: prettier --write, eslint --fix

style: eslint rules
  .eslintrc.json
  package.json
  src/app/day/day.page.ts
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/services/event-data.service.ts
  src/app/services/storage.service.ts
Due: prettier --write, eslint --fix

style: toast
  src/global.scss
  src/theme/variables.scss
Due: prettier --write, stylelint

fix: type error
  src/app/day/explore-container/explore-container.component.html
Due: prettier --write

feat: get rid of default angular icon and favicon
  src/app/about/about.page.html
  src/assets/icon/favicon.png
  src/assets/icons/icon-128x128.png
  src/assets/icons/icon-512x512.png
Due: prettier --write

style: add more app icons
  src/assets/icons/icon-144x144.png
  src/assets/icons/icon-152x152.png
  src/assets/icons/icon-192x192.png
  src/assets/icons/icon-72x72.png
  src/assets/icons/icon-96x96.png
Due: none

style: use colored icons
  src/assets/icon/favicon.png
  src/assets/icons/icon-128x128.png
  src/assets/icons/icon-144x144.png
  src/assets/icons/icon-152x152.png
  src/assets/icons/icon-192x192.png
  src/assets/icons/icon-384x384.png
  src/assets/icons/icon-512x512.png
  src/assets/icons/icon-72x72.png
  src/assets/icons/icon-96x96.png
Due: none

style: max width of detail card for browsers
  src/app/day/explore-container-details/explore-container-details.component.html
  src/app/day/explore-container-details/explore-container-details.component.scss
  src/app/day/explore-container-details/explore-container-details.component.ts
Due: prettier --write, eslint --fix, stylelint

feat: update URL for 2022
  android/.idea/workspace.xml
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

fix: worker url, year
  src/app/day/day.page.html
  src/app/services/event-data.service.ts
  src/index.html
  src/manifest.webmanifest
Due: prettier --write, eslint --fix

fix: replace html tags from excerpt
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

fix: remove thumbnail if not available
  src/app/day/explore-container-details/explore-container-details.component.html
Due: prettier --write

fix: bring back images
  src/app/day/explore-container-details/explore-container-details.component.html
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

fix: get thumbnail url
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

fix: remove image tag from excerpt
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

fix: strip out html tags from excerpt on list view
  src/app/day/day.module.ts
  src/app/day/explore-container/explore-container.component.html
  src/app/day/pipes/strip-html.pipe.ts
Due: prettier --write, eslint --fix

test: remove karma
  angular.json
  karma.conf.js
  package-lock.json
  package.json
  src/test.ts
Due: prettier --write, eslint --fix

build: update to ng v13
  .gitignore
  angular.json
  package-lock.json
  package.json
  src/polyfills.ts
Due: prettier --write, eslint --fix

build: update to ng v14
  angular.json
  e2e/protractor.conf.js
  e2e/src/app.e2e-spec.ts
  e2e/src/app.po.ts
  e2e/tsconfig.json
  package-lock.json
  package.json
  src/app/day/explore-container-details/explore-container-details.component.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

feat: add buy me a beer button
  src/app/about/about.page.html
Due: prettier --write

build: increase version to 0.0.2
  package.json
Due: none

fix: open paypal in new tab, favicon url
  ngsw-config.json
  src/app/about/about.page.html
Due: prettier --write

style: make beer image bigger
  src/app/about/about.page.html
Due: prettier --write

fix: escape quotes
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

fix: escape single quote
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

perf: load images lazily
  src/app/day/explore-container/explore-container.component.html
Due: prettier --write

fix: update service worker configs
  ngsw-config.json
Due: none

perf: use image cache always but update cache in background
  ngsw-config.json
Due: none

feat: replace old backend model with new one
  src/app/backend-models/backend-models.interface.ts
  src/app/backend-models/show.ts
  src/app/backend-models/shows-response.ts
  src/app/day/day.page.html
  src/app/day/day.page.ts
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/day/explore-container/explore-container.component.html
  src/app/day/explore-container/explore-container.component.ts
  src/app/day/pipes/is-favorite.pipe.ts
  src/app/day/pipes/strip-html.pipe.ts
  src/app/services/event-data.service.ts
  src/app/services/storage.service.ts
  src/index.html
  src/manifest.webmanifest
Due: prettier --write, eslint --fix

feat: show days and times
  src/app/backend-models/show.ts
  src/app/day/day.page.ts
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

feat: set demo artist icon
  src/app/backend-models/show.ts
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

feat: add venue and showcase to list
  src/app/backend-models/show.ts
  src/app/day/explore-container/explore-container.component.html
Due: prettier --write, eslint --fix

feat: remove date from list view
  src/app/day/explore-container/explore-container.component.html
Due: prettier --write

refactor: clenaup
  src/app/day/day.page.ts
  src/app/day/explore-container-details/explore-container-details.component.html
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/services/event-data.service.ts
Due: prettier --write, eslint --fix

build: set required node version to v18
  package.json
Due: none

build: set engine node to 18.16.0 or higher
  package-lock.json
  package.json
  yarn.lock
Due: none

build: remove package-lock.json since we use yarn
  package-lock.json
  yarn.lock
Due: none

Feature/switch to new proxy api (#1)
  package.json
  src/app/backend-models/backend-models.interface.ts
  src/app/backend-models/show.ts
  src/app/backend-models/shows-response.ts
  src/app/day/day.page.html
  src/app/day/day.page.ts
  src/app/day/explore-container-details/explore-container-details.component.html
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/day/explore-container/explore-container.component.html
  src/app/day/explore-container/explore-container.component.ts
  src/app/day/pipes/is-favorite.pipe.ts
  src/app/day/pipes/strip-html.pipe.ts
  src/app/services/event-data.service.ts
  src/app/services/storage.service.ts
  src/index.html
  src/manifest.webmanifest
  yarn.lock
Due: prettier --write, eslint --fix

feat(spotify): add spotify link, where available
  package.json
  src/app/day/explore-container-details/explore-container-details.component.html
  src/app/day/explore-container-details/explore-container-details.component.scss
  src/app/day/explore-container-details/explore-container-details.component.ts
  src/app/day/services/models/spotify-artist-response.ts
  src/app/day/services/models/spotify-token.ts
  src/app/day/services/spotify-data.service.ts
  src/environments/environment.prod.ts
  src/environments/environment.ts
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix, stylelint
